/*Common to all widgets*/
CommandWindow, QLineEdit#cmd_box, QLabel#tip_line,
Message, QLabel#title, QLabel#message {
    color: black;
    background: white;
    selection-background-color: #222;
    border: none;
}

/*Command entry box*/
QLineEdit#cmd_box {
    padding-left: 10px;
    font: 40pt Lucida Sans Unicode;
}

/*Autocomplete suggest box labels*/
QLabel#tip_line {
    padding-left: 5px;
    font: 14pt Lucida Sans Unicode;
    color: #777;
    selection-color: black;
}

/*Selected/highlighted autocomplete suggestions*/
QLabel#tip_line:hover, QLabel#tip_line[selected="true"] {
    background: #aaa;
}

/*Command help text (shown in the background of the command entry box)*/
QLabel#help_text {
    color: #aaa;
    background: transparent;
    padding-left: 5px;
    font: 40pt Lucida Sans Unicode;
}


/*All widgets in the message box*/
Message, QLabel#title, QLabel#message {
    margin: 10px;
    max-width: 800px;
}

/*Message title label*/
QLabel#title {
    font: 40pt Lucida Sans Unicode;
    margin-bottom: 0px;
}

/*Message text label*/
QLabel#message {
    color: #777;
    font: 20pt Lucida Sans Unicode;
}